@if (shouldShowLetter()) {
  <section class="guest-letter" id="guest-letter">
    <div class="guest-letter__paper" appFadeUp>
      <p class="guest-letter__salutation">
        {{ 'guestLetter.dear' | translate }} {{ matchedRow()!.letterAddress }},
      </p>
      <p class="guest-letter__message">{{ matchedRow()!.letterMessage }}</p>
      <p class="guest-letter__signature-line">{{ 'guestLetter.signatureLine' | translate }},</p>
      <p class="guest-letter__signature-name">{{ signatureName() }}</p>
      <div class="guest-letter__cta-wrap">
        <a href="#rsvp" class="guest-letter__cta" (click)="scrollToRsvp($event)">
          {{ 'hero.cta' | translate }}
        </a>
      </div>
    </div>
  </section>
}
