<section class="gallery" id="gallery">
  <div class="gallery__container">
    <h2 class="section-heading" appFadeUp>{{ 'gallery.heading' | translate }}</h2>

    @if (images().length > 0) {
      <div class="gallery__grid">
        @for (filename of images(); track filename; let i = $index) {
          <button
            class="gallery__tile"
            type="button"
            (click)="open(i)"
            [attr.aria-label]="textWithNumber('gallery.tileAriaLabel', i + 1)"
          >
            <img
              class="gallery__tile-img"
              [src]="imageUrl(filename)"
              [alt]="textWithNumber('gallery.imageAlt', i + 1)"
              loading="lazy"
            />
          </button>
        }
      </div>
    } @else {
      <p class="gallery__empty">{{ 'gallery.empty' | translate }}</p>
    }
  </div>

  @if (selectedIndex() !== null) {
    <div
      class="gallery__overlay"
      role="dialog"
      aria-modal="true"
      [attr.aria-label]="'gallery.lightboxAriaLabel' | translate"
      (click)="close()"
    >
      <button
        class="gallery__overlay-close"
        type="button"
        (click)="close()"
        [attr.aria-label]="'gallery.closeAriaLabel' | translate"
      >
        &#215;
      </button>
      <div class="gallery__overlay-content" (click)="stopPropagation($event)">
        <img
          class="gallery__overlay-img"
          [src]="imageUrl(images()[selectedIndex()!])"
          [alt]="textWithNumber('gallery.imageAlt', selectedIndex()! + 1)"
        />
      </div>
    </div>
  }
</section>
